{% extends "layout.html" %}


{% block content %}

 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center orange-text">remembrance.link</h2>
      <div class="row center">
        <h5 class="header col s12 light">your private media collection</h5>
      </div>
      <br><br>

    </div>
  </div>


    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">present_to_all</i></h2>
            <h5 class="center">Lifelines and Memories</h5>

            <p class="light">
                From time to time it is nice to browse through old pictures and re-live some of those old memories. But most of those picture are stored 
                on old phones and are practically unaccessable. Here on remembrance.link you can upload your memories and have them ready at any time. 
            </p>
          </div>
        </div>

          
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Flashback how?</h5>

            <p class="light">
                So you uploaded a picture or video at a certain location of this planet. Now you revisit that location some years later. You fire up your 
                browser and navigate to <a href="https://flashback.click">flashback.click</a>. Here comes the flashback: You are immediatly confronted with 
                what you uploaded back then. You most probably looked younger. You still had that girlfriend. Wow. 
                Now upload another image for the next flashback in five years and get on with your life.
            
            </p>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">assignment_ind</i></h2>
            <h5 class="center">Social Login</h5>

            <p class="light">Signing-In is as simple as it gets. You can use your facebook-, twitter- or google-account to login. We will not post anything to your account.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

{% endblock %}
