{% extends "layout.html" %}


{% block head %}
    {{ parent() }}



    <script src="//rawgit.com/tobias74/javascript-simple-queue/master/simple-queue.js"></script>
    <script src="//rawgit.com/tobias74/js-spark-md5/master/spark-md5.js"></script>
    <script src="/static/javascript/resumable-frontend.js"></script>

    <script src="/static/timezones.full.js"></script>
    <script src="/static/javascript/resumable.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>

    <script>
    
    jQuery.fn.fadeOutAndRemove = function(speed){
        $(this).fadeOut(speed,function(){
          $(this).remove();
        })
    }

    /*global $*/

    </script>

{% endblock %}


{% block content %}




    <div class="section no-pad-bot resumable-drop" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">File Uploader</h1>
        <div class="row center">
          <h5 class="header col s12 light">The exif-data in your files will be used to extract timestamps and geo-points</h5>
          <p>
            Files that already exist on the server will be silently removed from the upload-queue
          </p>
          <p id="removedFilesStatus">
          </p>
          <p id="addedFilesStatus">
          </p>
          <p id="completedFilesStatus">
          </p>
          
          
          
        </div>
      </div>
    </div>
    

    <div class="section no-pad-bot resumable-drop" id="index-banner">
      <div class="container">
        <form>
          <div class="row">
            <div class="input-field col m6 s12">
              <input id="title" type="text" class="validate">
              <label for="title">Hashtags for Uploads</label>
            </div>
            
            <div class="input-field col m2 s12">
              Prevent Double Uploads
              <div class="switch">
                <label>
                  Off
                  <input id="doppelGangerPreventer" type="checkbox" >
                  <span class="lever"></span>
                  On
                </label>
              </div>            
            </div>

            <div class="input-field col m2 s12">
              Display Files
              <div class="switch">
                <label>
                  Off
                  <input id="shouldRenderFiles" type="checkbox" checked>
                  <span class="lever"></span>
                  On
                </label>
              </div>            
            </div>

            <div class="input-field col m2 s12">
              Remove Duplicates
              <div class="switch">
                <label>
                  Off
                  <input id="shouldRemoveDuplicates" type="checkbox" checked>
                  <span class="lever"></span>
                  On
                </label>
              </div>            
            </div>
            
            
          </div>      
        </form>
      </div>
    </div>


    <div id="actions" class="row" style="padding-top:30px;">

      <div class="col s12 m3 center-align">
        <button class="waves-effect waves-light btn fileinput-button resumable-browse">
            <i class="material-icons right">input</i>
            <span>Add Files</span>
        </button>
      </div>
      <div class="col s12 m3 center-align">
        <button class="waves-effect waves-light btn fileinput-button resumable-browse-folder">
            <i class="material-icons right">folder</i>
            <span>Add Folders</span>
        </button>
      </div>
      <div class="col s12 m3 center-align">
        <button type="submit" class="waves-effect waves-light btn start start-upload-button" onclick="r.upload();">
            <i class="material-icons right">send</i>
            <span>Start Upload</span>
        </button>
        <button type="submit" class="waves-effect waves-light btn start pause-upload-button" onclick="r.pause();">
            <i class="material-icons right">pause</i>
            <span>Pause Upload</span>
        </button>
      </div>
      <div class="col s12 m3 center-align">
        <button type="reset" class="waves-effect waves-light btn cancel cancel-upload-button" onclick="r.cancel();">
             <i class="material-icons right">cancel</i>
            <span>Cancel Upload</span>
        </button>
      </div>

      <div class="col s12" style="padding-top:10px;">
        <!-- The global file processing state -->
        <span class="fileupload-process">
          <div class="progress">
              <div class="determinate" style="width: 0%" data-dz-uploadprogress></div>
          </div>          
        </span>
      </div>
      
    </div>


    <ul class="collection" id="previews">

    </ul>








    {% verbatim %}
    <script id="template" type="x-tmpl-mustache">
     <li class="collection-item resumable-file-{{layoutIdentifier}}">
        {{fileName}} 
        <span class="resumable-file-progress"></span>
        <span class="resumable-file-status"></span>
        <span class="secondary-content">
        </span>

        <img data-dz-thumbnail alt="" style="vertical-align:middle;display:inline-block;"/>
        <div style="display:inline-block;vertical-align:middle;">
          <span class="title" data-dz-name></span>
          <span data-dz-size></span>
          <br>
          <span class="red-text" data-dz-errormessage></span>
        </div>
        
      
        <div class="progress">
            <div class="determinate" style="width: 0%"></div>
        </div>          
      </li>
      </script>
      {% endverbatim %}


      <script>
      /*global ResumableUploadFrontend*/
      /* global $*/
      /* global SparkMD5*/
      /* global SimpleTaskQueue*/

          // starting here is the client!!        
          
          var removedFilesCount = 0;
          var addedFilesCount = 0;
          var completedFilesCount = 0;
          
          var askServerIfMd5Exists = function(md5Hash, callback){
            var doppelGangerValue = $('#doppelGangerPreventer').is(":checked") ? 'yes' : 'no';          
            $.getJSON('/website/group/{{groupId}}/station/existsMd5Hash/' + md5Hash + '?preventGlobalDoppelganger=' + doppelGangerValue, function(data){
                callback(data.status);
            });
          };
        
          var doesFileAlreadyExist = function(file, callback){
            SparkMD5.hashFile(file, function(){
              askServerIfMd5Exists(file.md5Hash, function(response){
                var fileExists = false;
                var message = '';
                
                if (response === 'already_exists_in_your_uploads') {
                  fileExists = true;
                  message = 'File already exists in global uploads';
                } else if (response === 'already_exists_in_group'){
                  fileExists = true;
                  message = 'File already exists in this group';
                }
                
                callback(fileExists, message, file.md5Hash);
              });
            });
          };
          
          
          var queue = new SimpleTaskQueue();
          queue.run();
          
          var fileTemplate = $('#template').html();
          Mustache.parse(fileTemplate);   // optional, speeds up future uses
          
          
          var r = new Resumable({
              target:'/website/group/{{groupId}}/chunked-uploader-action',
              chunkSize:3*1024*1024,
              query: function(){
                return {
                  title: $('#title').val()
                };
              },
              simultaneousUploads:1,
              testChunks:true,
              throttleProgressCallbacks:1
            });
          
          var myUploadFrontend = new ResumableUploadFrontend(r, {
            dropAreaSelector: '.resumable-drop',
            fileBrowserSelector: '.resumable-browse',
            folderBrowserSelector: '.resumable-browse-folder',
            startUploadSelector: '.start-upload-button',
            cancelUploadSelector: '.cancel-upload-button',
            pauseUploadSelector: '.pause-upload-button',
            overallProgressBarSelector: '.fileupload-process .progress .determinate',

            fileStatusSelector: function(uniqueId){
              return '.resumable-file-'+uniqueId+' .resumable-file-status';
            },
            
            fileProgressTextSelector: function(uniqueId){
              return '.resumable-file-'+uniqueId+' .resumable-file-progress';
            },
            
            fileProgressBarSelector: function(uniqueId){
              return '.resumable-file-'+uniqueId+' .progress .determinate';              
            },
            
            
            onFileSuccessCallback: function(resumableFile){
              completedFilesCount++;
              $('#completedFilesStatus').html(completedFilesCount + ' files have been uploaded.');
            },
            
            renderCallback: function(resumableFile, frontEndCallback){

              queue.addTask(function(finishedCallback){
                setTimeout(function(){
          
                  doesFileAlreadyExist(resumableFile.file,function(fileExists, fileMessage, md5Hash){
                    resumableFile.uniqueIdentifier = md5Hash;

                                                
                    var shouldRenderFiles = $('#shouldRenderFiles').is(":checked") ? true : false;
                    if (shouldRenderFiles){
                      resumableFile.layoutIdentifier = 'layoutID-' + SparkMD5.hash('' + Math.random() + performance.now());
                      var newRowHtml = $(Mustache.render(fileTemplate, resumableFile));
                      newRowHtml.attr('id', resumableFile.layoutIdentifier);
                      newRowHtml.appendTo('#previews');
                    }

                    if (fileExists) {
                      resumableFile.cancel();
                      removedFilesCount++;
                      myUploadFrontend.setStatus(resumableFile, fileMessage);
                      myUploadFrontend.hideProgressText(resumableFile);
                      
                      var shouldRemoveDuplicates = $('#shouldRemoveDuplicates').is(":checked") ? true : false;
                      if (shouldRemoveDuplicates){
                        $('#' + resumableFile.layoutIdentifier).fadeOutAndRemove(1000);
                      }
                      else {
                        myUploadFrontend.setStatus(file, 'canceled');
                      }
                    }
                    else {
                      addedFilesCount++;
                    }
                    
                    $('#removedFilesStatus').html(removedFilesCount + ' files *not* added to the upload queue.');
                    $('#addedFilesStatus').html(addedFilesCount + ' files have been added to the upload queue.');
  

                    setTimeout(function(){
                      frontEndCallback();
                    },0);
  
                    setTimeout(function(){
                      finishedCallback();                    
                    },0);

                  });

                },0);    
              });


              
            }
            
            
          });
          
      </script>
      
      
<script>
  $('#timezone_selector').timezones();
</script>

      
{% endblock %}

      
      