{% extends "layout.html" %}

{% block title %} My Groups {% endblock %}




{% block content %}

<div class="container">
  
Here we will have my groups yes!


<div class="collection">
{% for group in groups %}
    <li class="collection-item">
        <a href="/website/group/{{group.id}}" >-- {{group.title}} --</a>
        <a href="/website/edit-group/{{group.id}}" class="secondary-content"><i class="material-icons">edit</i></a>
    </li>
{% endfor %}        
</div>
      




<form action="/website/create-group" method="POST">
    <button type="submit">create group</button>
</form>

</div>

{% endblock %}

