<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <script src="//cdn.auth0.com/js/lock/10.6/lock.min.js"></script>    
    <script src="//cdn.auth0.com/w2/auth0-7.4.min.js"></script>
    
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.css">

    <meta name="google-site-verification" content="vbT9fitHovLLDMLE1nxEt_mGyZpRf6-OnHewHuG_Oxk" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>              

    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places,geometry&key={{googleApiKey}}"></script>        


    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.js"></script>
    
    <script>
      jQuery.fn.appendHiddenInput = function (name, value) {
          return this.each(function () {
              var input = $("<input>").attr("type", "hidden").attr("name", name).val(value);
              $(this).append($(input));
          });
      };      

      jQuery.fn.appendToActionUrl = function (name, value) {
          return this.each(function () {
              var oldAction = $(this).attr('action');
              $(this).attr('action',oldAction + name + '=' + value + '&');
          });
      };      
    </script>
    
  
    <script src="/static/javascript/maps.js"></script>
    <script src="/static/javascript/geocoding.js"></script>
  

    <script src="//cdn.auth0.com/js/lock/10.6/lock.min.js"></script>
    <script>
      var lock = new Auth0Lock('{{auth0ClientId}}', '{{auth0Domain}}', {
        auth: {
          redirectUrl: '{{auth0Callback}}',
          responseType: 'code',
          params: {
            scope: 'openid email' 
          }
        }
      });
    </script>
  
  
    <style>
      .icon-block {
        padding: 0 15px;
      }
      .icon-block .material-icons {
      	font-size: inherit;
      }      
      
      .nav-wrapper{
        padding-left:10px;
      }
      
    </style>
  
  
    {% block head %}

        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script>
      window.cookieconsent_options = {
          message: "This website uses cookies to ensure you get the best experience on our website",
          dismiss: "Got it!",
          learnMore: "More info",
          theme: "dark-top",
          link: 'http://example.com/cookiepolicy'
      };
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    

  </head>
  <body style="overflow-y:scroll;">
    


  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/website/about">About</a></li>
        <li><a href="/website/imprint">Imprint</a></li>
        <li><a href="/website/toc">Terms & Conditions</a></li>
        <li><a href="/website/gdpr">Privacy</a></li>
        
        {% if user %}
        <li><a href="/website/logout">Logout</a></li>
        <li><a href="/website/group/{{groupId}}/chunked-uploader">Upload Files</a></li>
        <li><a href="/website/index?userId={{loggedInUserId}}">Me</a></li>
        <li><a href="/website/groups">My Groups</a></li>
        {% else %}
        <li><a style="cursor:pointer;" onclick="lock.show();">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
<!--
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
-->    
    <li><a href="/website/index">Home</a></li>
    <li><a href="/website/about">About</a></li>
    <li><a href="/website/imprint">Imprint</a></li>
    <li><a href="/website/toc">Terms & Conditions</a></li>
    <li><a href="/website/gdpr">Privacy</a></li>
    {% if user %}
      <li><a href="/website/logout">Logout</a></li>
      <li><a href="/website/group/{{groupId}}/chunked-uploader">Upload Files</a></li>
      <li><a href="/website/index?userId={{loggedInUserId}}">Me</a></li>
      <li><a href="/website/groups">My Groups</a></li>
    {% else %}
      <li><a style="cursor:pointer;" onclick="lock.show();">Login</a></li>
    {% endif %}
  </ul>
              
    
    

  <main class="">
    {% block content %}{% endblock %}
  </main>





        






  <footer class="page-footer  purple lighten-3 ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Management Summary</h5>
          <p class="grey-text text-lighten-4">
            stub.ist is a collection of stubs! Members of this community can upload images of their movie-stubs (or other tickets) for sentimental reasons.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">More Info</h5>
          <ul>
            <li><a class="white-text" href="/website/imprint">Imprint</a></li>
            <li><a class="white-text" href="/website/about">About</a></li>
            <li><a class="white-text" href="/website/toc">Terms & Conditions</a></li>
            <li><a class="white-text" href="/website/gdpr">Privacy</a></li>
            <!--
            <li><a class="white-text" href="/website/career">Career</a></li>
            <li><a class="white-text" href="/website/investors">Investors</a></li>
            -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        {% block footer %}
          Made by <a class=" purple-text text-darken-3" href="http://tobiga.de">tobiga UG (haftungsbeschränkt)</a>
        {% endblock %}
      </div>
    </div>
  </footer>
    
    
    
    
    
    
    <script>
      (function($){
        $(document).ready(function(){
          $('.sidenav').sidenav();
        });
      })(jQuery); // end of jQuery name space      
    
    </script>
    
  </body>
</html>

