{% extends "layout.html" %}

{% block title %} {{station.title}} {% endblock %}




{% block content %}

<div class="container">
  
      <div class="card sticky-action" data-latitude="{{station.latitude}}" data-longitude="{{station.longitude}}">
        {% if station.attachmentType == 'image' %}
        <div class="card-image waves-effect waves-block waves-light">
          <a href="/website/group/{{groupId}}/image/{{station.id}}/big/original"><img class="activator" src="/website/group/{{groupId}}/image/{{station.id}}/big/original"></a>
        </div>
        {% endif %}

        {% if station.attachmentType == 'video' %}
        <div class="card-image waves-effect waves-block waves-light">
          <video class="responsive-video" controls poster="/website/group/{{groupId}}/video/{{station.id}}/jpg">
            <source src="/website/group/{{groupId}}/video/{{station.id}}/mp4" type="video/mp4">
            <source src="/website/group/{{groupId}}/video/{{station.id}}/ogg" type="video/ogg">
            <source src="/website/group/{{groupId}}/video/{{station.id}}/webm" type="video/webm">
          </video>  
        </div>
        {% endif %}
        
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ station.title }}<i class="material-icons right click-reveal">more_vert</i></span>
          <p>
              {{station.description}}
          </p>
          <p>
              {{station.timestamp|date("F j, Y, g:i a", station.timezone)}}
          </p>
        </div>
        <div class="card-action">
          {% if station.writeAccessGranted %}
          <form action="/website/index?{{currentQuery}}" method="POST" style="display:inline-block;">
            <a style="cursor:pointer" onclick="confirmDelete(this);">Delete</a>
            <input type="hidden" name="deleteStationId" value="{{station.id}}"/>
            <input type="hidden" name="form_action" value="delete_station">
          </form>
          <a href="/website/station/upload-form/{{station.id}}">Edit</a>
          {% endif %}

          <a href="/website/index?userId={{station.userId}}">User</a>
        </div>        
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ station.title }}<i class="material-icons right click-close">close</i></span>

          <div id="{{station.id}}" class="map-for-station" style="width:100%;height:calc(100% - 55px);">
            {{station.id}}
          </div>

        </div>
      </div>

</div>


<script>
  
      $(document).on('click', '.card .click-reveal', function() {
        console.log('got one lcikc');
      	var card = $(this).closest('.card');
      	console.log(card);
      	initializeStationMap(card);
      });     
      
      var confirmDeleteStation = function(target){
      	if (confirm('Do you relly want to delete this station? This cannot be undone!')) {
      		var form = $(target).closest('form')
      		form.submit();
      	}
      };
      

</script>

{% endblock %}

